@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.code-wrap {
    background: #ccc;
    padding: 10px 5px;
    border-radius: 5px;
    text-align: left;
}
.code-wrap p {
    color:#007bff;
}
pre {
    margin: 0;
    padding: 0;
    text-align: left;
}
