/* line 2, ../../../sass/algoras.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../../../sass/algoras.scss */
p, h1, h2, h3, h4, h5, h6 {
  margin: 0 !important;
}

/* line 9, ../../../sass/algoras.scss */
ul {
  list-style: none;
}

/* line 12, ../../../sass/algoras.scss */
.rtl {
  direction: rtl;
}

/* line 15, ../../../sass/algoras.scss */
.rtl mat-form-field input {
  text-align: right;
}

/* line 18, ../../../sass/algoras.scss */
.hidden {
  display: none;
}

/* line 19, ../../../sass/algoras.scss */
.bg-sidebar {
  background: #81663b;
}

/* line 22, ../../../sass/algoras.scss */
.color-white {
  color: #fff;
}

/* line 25, ../../../sass/algoras.scss */
.height-100-vh {
  height: 100vh;
}

/* line 33, ../../../sass/algoras.scss */
.btn {
  padding: 9px 40px;
  border-radius: 30px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  margin: 0 10px;
}

/* line 42, ../../../sass/algoras.scss */
.btn:hover {
  -webkit-box-shadow: 0 2px 10px 2px #ccc;
  box-shadow: 0 2px 10px 2px #ccc;
  text-decoration: none;
  color: #fff;
}

/* line 48, ../../../sass/algoras.scss */
.btn-success {
  background-color: #1aa79c;
}

/* line 51, ../../../sass/algoras.scss */
.btn-error {
  background-color: #dc3545;
}

/* line 54, ../../../sass/algoras.scss */
.btn-warning {
  background-color: #ea724b;
}

/* line 57, ../../../sass/algoras.scss */
.btn-info {
  background-color: #007bff;
}

/* line 60, ../../../sass/algoras.scss */
textarea {
  resize: none;
  background: #fff;
  padding: 10px 0 0;
  border-radius: 5px;
}

/* line 68, ../../../sass/algoras.scss */
.inp {
  position: relative;
  margin: auto;
  width: 100%;
}
/* line 73, ../../../sass/algoras.scss */
.inp .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: #9098A9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all .2s ease;
}
/* line 84, ../../../sass/algoras.scss */
.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: #0077FF;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all .15s ease;
}
/* line 96, ../../../sass/algoras.scss */
.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #C8CCD4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all .15s ease;
}
/* line 111, ../../../sass/algoras.scss */
.inp input:hover {
  background: rgba(34, 50, 84, 0.03);
}
/* line 116, ../../../sass/algoras.scss */
.inp input:not(:placeholder-shown) + span {
  color: #5A667F;
  transform: translateY(-26px) scale(0.75);
}
/* line 122, ../../../sass/algoras.scss */
.inp input:focus {
  background: none;
  outline: none;
}
/* line 126, ../../../sass/algoras.scss */
.inp input:focus + span {
  color: #0077FF;
  transform: translateY(-26px) scale(0.75);
}
/* line 130, ../../../sass/algoras.scss */
.inp input:focus + span + .border {
  transform: scaleX(1);
}

/* line 138, ../../../sass/algoras.scss */
.inp-textarea {
  position: relative;
  margin: auto;
  width: 100%;
}
/* line 142, ../../../sass/algoras.scss */
.inp-textarea .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: #9098A9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all .2s ease;
}
/* line 153, ../../../sass/algoras.scss */
.inp-textarea .border {
  position: absolute;
  bottom: 4px;
  left: 0;
  height: 4px;
  width: 100%;
  background: #0077FF;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all .15s ease;
}
/* line 165, ../../../sass/algoras.scss */
.inp-textarea textarea {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #C8CCD4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all .15s ease;
}
/* line 180, ../../../sass/algoras.scss */
.inp-textarea textarea:hover {
  background: rgba(34, 50, 84, 0.03);
}
/* line 185, ../../../sass/algoras.scss */
.inp-textarea textarea:not(:placeholder-shown) + span {
  color: #5A667F;
  transform: translateY(-26px) scale(0.75);
}
/* line 191, ../../../sass/algoras.scss */
.inp-textarea textarea:focus {
  background: none;
  outline: none;
}
/* line 195, ../../../sass/algoras.scss */
.inp-textarea textarea:focus + span {
  color: #0077FF;
  transform: translateY(-26px) scale(0.75);
}
/* line 199, ../../../sass/algoras.scss */
.inp-textarea textarea:focus + span + .border {
  transform: scaleX(1);
}

/* line 210, ../../../sass/algoras.scss */
.radio {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  font-size: 14px;
  margin: 15px;
}
/* line 216, ../../../sass/algoras.scss */
.radio .label {
  position: relative;
  display: block;
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #C8CCD4;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
}
/* line 226, ../../../sass/algoras.scss */
.radio .label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #225CFF;
  transform: scale(0);
  transition: all .2s ease;
  opacity: .08;
  pointer-events: none;
}
/* line 242, ../../../sass/algoras.scss */
.radio:hover .label:after {
  transform: scale(3.6);
}

/* line 247, ../../../sass/algoras.scss */
input[type="radio"]:checked + .label {
  border-color: #225CFF;
}
/* line 249, ../../../sass/algoras.scss */
input[type="radio"]:checked + .label:after {
  transform: scale(1);
  transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  opacity: 1;
}

/* line 268, ../../../sass/algoras.scss */
.md-checkbox {
  position: relative;
  margin: 1em 0;
  text-align: left;
}
/* line 272, ../../../sass/algoras.scss */
.md-checkbox.md-checkbox-inline {
  display: inline-block;
}
/* line 275, ../../../sass/algoras.scss */
.md-checkbox label {
  cursor: pointer;
  display: inline;
  line-height: 1.25em;
  vertical-align: top;
  clear: both;
  padding-left: 1px;
}
/* line 282, ../../../sass/algoras.scss */
.md-checkbox label:not(:empty) {
  padding-left: 0.75em;
}
/* line 285, ../../../sass/algoras.scss */
.md-checkbox label:before, .md-checkbox label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
/* line 291, ../../../sass/algoras.scss */
.md-checkbox label:before {
  width: 1.25em;
  height: 1.25em;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 0.125em;
  cursor: pointer;
  transition: background .3s;
}
/* line 305, ../../../sass/algoras.scss */
.md-checkbox input[type="checkbox"] {
  outline: 0;
  visibility: hidden;
  width: 1.25em;
  margin: 0;
  display: block;
  float: left;
  font-size: inherit;
}
/* line 314, ../../../sass/algoras.scss */
.md-checkbox input[type="checkbox"]:checked + label:before {
  background: #225CFF;
  border: none;
}
/* line 318, ../../../sass/algoras.scss */
.md-checkbox input[type="checkbox"]:checked + label:after {
  transform: translate(0.25em, 0.33654em) rotate(-45deg);
  width: 0.75em;
  height: 0.375em;
  border: 0.125em solid #fff;
  border-top-style: none;
  border-right-style: none;
}
/* line 329, ../../../sass/algoras.scss */
.md-checkbox input[type="checkbox"]:disabled + label:before {
  border-color: rgba(0, 0, 0, 0.26);
}
/* line 333, ../../../sass/algoras.scss */
.md-checkbox input[type="checkbox"]:disabled:checked + label:before {
  background: rgba(0, 0, 0, 0.26);
}

/* line 341, ../../../sass/algoras.scss */
.lci-tabs {
  overflow: hidden;
  margin-bottom: 20px;
}

/* line 345, ../../../sass/algoras.scss */
.lci-tabs ul {
  overflow: hidden;
}

/* line 348, ../../../sass/algoras.scss */
.lci-tabs ul li {
  float: left;
  list-style: none;
  background: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  margin-right: 5px;
}

/* line 356, ../../../sass/algoras.scss */
.lci-tabs ul li.active {
  background: #007bff;
}

/* line 359, ../../../sass/algoras.scss */
.lci-tabs ul li:hover a {
  text-decoration: none;
  color: #fff;
}

/* line 363, ../../../sass/algoras.scss */
.lci-tabs ul li:hover {
  background: #007bff;
}

/* line 366, ../../../sass/algoras.scss */
.lci-tabs ul li.active a {
  color: #fff;
}

/* line 369, ../../../sass/algoras.scss */
.lci-tabs ul li a {
  display: block;
  color: #000;
  padding: 5px 20px;
}

/* line 375, ../../../sass/algoras.scss */
select {
  display: inline-block;
  border: 1px solid #adadad;
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.52857143;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 4px;
}

/* line 389, ../../../sass/algoras.scss */
mat-form-field {
  width: 100%;
}

/* line 392, ../../../sass/algoras.scss */
.icon-search {
  position: absolute;
  right: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  overflow: hidden;
  border: none;
  display: inline-block;
  background: url("../../assets/images/search-icon.png") no-repeat;
  background-size: 100%;
}

/* line 405, ../../../sass/algoras.scss */
.pro-icon {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  background: url("/src/assets/images/user.png") no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

/* line 414, ../../../sass/algoras.scss */
.sidebar-menu li {
  font-size: 16px;
}

/* line 417, ../../../sass/algoras.scss */
.sidebar-menu li a {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  color: #fff;
  width: 90%;
}

/* line 424, ../../../sass/algoras.scss */
.sidebar-menu li:hover {
  background: linear-gradient(#81663b, #e9e9e9) !important;
  text-decoration: none;
}

/* line 428, ../../../sass/algoras.scss */
.sidebar-menu li:hover a {
  text-decoration: none;
}

/* line 431, ../../../sass/algoras.scss */
.sidebar-menu li.active {
  background: #482e04;
}

/* line 434, ../../../sass/algoras.scss */
.logo a {
  display: block;
  text-align: center;
}

/* line 438, ../../../sass/algoras.scss */
.logo img {
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
}
