@import url(~@angular/material/prebuilt-themes/deeppurple-amber.css);
/* line 2, ../../../sass/style.scss */
.code-wrap {
  background: #ccc;
  padding: 10px 5px;
  border-radius: 5px;
  text-align: left;
}

/* line 8, ../../../sass/style.scss */
.code-wrap p {
  color: #007bff;
}

/* line 11, ../../../sass/style.scss */
pre {
  margin: 0;
  padding: 0;
  text-align: left;
}
